:root {
    --primary-color: #B33948;
    --on-primary-color: #FFFFFF;
    --background-light-color: #FFFFFF;
    --on-background-light-color: #000000;
}

.card {
    border: 1px solid var(--on-background-light-color);
    border-radius: 10px;

    padding: 24px 16px 16px;

    width: 500px;
}

h1 {
    font: normal bold normal 24px / 32px Verdana, sans-serif;
}